html, body {
    height: 100%;
}

nav div.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

legend {
    font-size: 18px;
}

input, select, .input-group, textarea {
    margin-bottom: 8px;
}

fieldset {
    margin-bottom: 20px;
}

label {
    text-align: right;
}

.login-user {
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 0px 0px 5px 5px;
}

.messages {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.container {
    width: 85%;
    padding-top: 130px;
    margin-bottom: 50px;
    margin-left: 0px;
}

.tab-title {
    display: inline-block;
    padding-right: 30px;
    margin-bottom: 20px;
    margin-top: 0px;
    font-weight: bold;

}

.navbar {
    padding: 0 0;
    margin-bottom: 0px;
    min-height: 30px;
}

.navbar-default {
    background-color: #dddbdb;
    border-color: #fff;
    color: #7b1113;
}

.navbar .nav>li {
    vertical-align: middle;

}

.navbar .nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px; 
    font-weight: bold;
    color: #818183;
    font-size: 15px;
}


.navbar-default .nav>li.active,
.navbar-default .nav>li:hover {
    background-color: #dfdfdf;
}

.navbar-default .nav>li>a {
    background-color: transparent;
}

.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:hover,
.navbar-default .nav>li:hover>a,
.nav>li>a:focus
 {
    color: #b2181b;
}

.panel-default {
    background-color: #f9f9f9;
    border-color: #969696;
}

.panel-body {
    background-color: transparent;
}

.panel-default>.panel-heading {
    background: none;
    border: none;
}

.panel-default>.panel-heading h3 {
    font-weight: bold;
}

.banner {
    text-align: center;
    background: #7b1113;
    height: 50px;
    color: white;
    font-size: 25px;
    padding-top: 6px;
    font-weight: bold;
}

.custom-button {
    float: right;
}

.form-group {
    margin-bottom: 0px;
}

.delete-btn-cont {
    background: white;
    border: none!important;
    margin-left: 5px;
    padding-right: 0px!important;
}

.delete-btn-cont button {
    float: right;
}

.participant-info {
    font-weight: bold;
    width: 180px;
    text-align: center;
    background-color: #ffef56;
    border: 2px solid;
    min-height: 250px;
}

.image-container {
    text-align: center;
    position: relative;
}

.participant-info h3 {
    margin-top: 0px;
    font-weight: bold;
}

.participant-info img {
    margin-bottom: 10px;
}

img.image-uploadable:hover {
    cursor: pointer;
}

img.image-uploadable {
    vertical-align: middle;
}

.table-container {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.table-container th {
    text-align: left!important;
}

.can-add-row tr td:last-child, .can-add-row tr th:last-child {
    display: none;
}

#pnumber {
    border: none;
    background: transparent;
    text-align: center;
    margin: 0;
    width: 100%;
}

#upload-button {
    position: absolute;
    left: 32%;
    top: 50%;
}

.participant-state {
    right: 10px;
    width: 180px;
    text-align: center;
    background-color: #ffef56;
    border: 1px solid black;
    display: none;
}


.navbar-collapse.in {
    max-height: 500px;
}
 
/* LANDSCAPE & PORTRAIT*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {
    .container {
        width: 80%;
    }
}

 /* LANDSCAPE */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
}


 /* PORTRAIT */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  {

}
