
div#name-group div.form-group {
	display: inline-block;
}

div#div_id_given_name {
	margin-left: 5px;
	width: 22%;
	margin-right: 1px;
}

div#div_id_middle_name {
	margin-left: 10px;
	width: 22%;
	margin-right: 1px;
}

div#div_id_last_name {
	margin-left: 10px;
	width: 22%;
}