div#bp-group div.form-group {
	display: inline-block;
}

div#div_id_bp_systolic {
	margin-left: 5px;
	width: 10%;
}

div#div_id_bp_diastolic {
	margin-left: 5px;
	width: 10%;
}

div#bp-group span {
	padding-left: 20px;
}

.subpanel-title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

.eye-questions label {
	padding-top: 0px!important;
	text-align: left!important;
}

#div_id_has_medication_drugs, #div_id_is_insurance_holder, #div_id_is_dependent_of_insurance,
#div_id_drinks_alcohol, #div_id_junkfoods_plate_proportion, #div_id_fruit_juice,
#div_id_has_menstrual_period_ended, #div_id_area_classification {
	margin-bottom: 5px;
}

/* LANDSCAPE & PORTRAIT*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {
}

 /* LANDSCAPE */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {

}


 /* PORTRAIT */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  {

}