.container {
	width: 100%;
	padding-top: 80px;
}

.home-body {
	width: 40%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	min-height: 330px;
}

.home-body p {
	text-align: center;
}

.home-body a:hover {
	text-decoration: none;
}

.home-body button, input#submit-id-submit{	
	margin-bottom: 16px;
	margin-right: auto;
	margin-left: auto;
}

.alert {
	text-align: center;
}

.logos {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.logos img {
	margin-right: 8px;
}

.logos div.sponsored {
	display: inline;
	position: relative;
	text-align: center;
	float: right;
}

.logos div.sponsored div {
	display: inline-block;
	width: 100%;
	top: -30px;
	position: absolute;
}

div.home-messages {
	padding-top: 10px;
	height: 130px;
}

div#div_id_participant_number {
	width: 100%;
}

div#div_id_participant_number input {
	width: 100%;
}

 
/* LANDSCAPE & PORTRAIT*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {
	.home-body {
		width: 50%;
	}
}

 /* LANDSCAPE */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
	
}


 /* PORTRAIT */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  {

}