label {
	text-align: left;
}

.table-summary th, .table-summary, .table-summary td {
	text-align: center !important;
	vertical-align: middle !important;
}

.table-summary-first {
	margin-left: 15px;
}