{% load staticfiles %}
{% load bootstrap3 %}
{% load thumbnail %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <link rel="shortcut icon" href="{% static 'survey/images/favicon.ico' %}" type="image/x-icon">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'survey/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'survey/css/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'survey/css/datepicker.css' %}">
        <link rel="stylesheet" href="{% static 'survey/css/jquery-ui.theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'survey/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'survey/css/selectize.bootstrap3.css' %}">
        <!-- END of CSS -->
        <!-- JS -->
        <script src="{% static 'survey/js/jquery-1.12.0.min.js' %}"></script>
        <script src="{% static 'survey/js/jquery-ui.min.js' %}"></script>
       
        <script src="{% static 'survey/js/utils.js' %}"></script>
        <script src="{% static 'bootstrap/js/tether.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'survey/js/selectize.min.js' %}"></script>
        <script src="{% static 'survey/js/bootstrap-datepicker.js' %}"></script>
        
        <!-- END of JS -->

        <script>
            // Globals
            var spinner = "{% static "survey/images/spinner.gif" %}";
        </script>

        {% block extra_head %}
        {% endblock %}
    </head>

    <body>
        <div class="navbar-fixed-top top-bar">
            <div class="banner">
                <p>PEDS Project</p>
            </div>
            {% if request.user.is_authenticated %}
            <div class="login-user">
                <span>User: {{ request.user.username }} | <a href="{% url 'logout' %}">Logout</a></span>
            </div>
            {% endif %}
            <div style="display: {% block navbar %}{% endblock %}">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="nav nav-justified">
                                <li class="{% block 'home' %}{% endblock %}">
                                    <a href="{% url 'home'%}">Home</a>
                                </li>
                                <li class="{% block gen_info_class %}{% endblock %}">
                                    <a href="{% url 'gen-info'%}?sn={% if request.GET.sn %}{{ request.GET.sn }}{% else %}{{ participant.participant_number }} {% endif %}">General Information</a>
                                </li>
                                <li class="{% block health_lifestyle_class %}{% endblock %}">
                                    <a href="{% url 'health-lifestyle'%}?sn={% if request.GET.sn %}{{ request.GET.sn }}{% else %}{{ participant.participant_number }} {% endif %}">Health & Lifestyle</a>
                                </li>
                                <li class="{% block socio_economic_class %}{% endblock %}">
                                    <a href="{% url 'socio-economic' %}?sn={% if request.GET.sn %}{{ request.GET.sn }}{% else %}{{ participant.participant_number }} {% endif %}">Socio Economic</a>
                                </li>
                                <li class="{% block eye_exam_class %}{% endblock %}">
                                    <a href="{% url 'eye-exam' %}?sn={% if request.GET.sn %}{{ request.GET.sn }}{% else %}{{ participant.participant_number }} {% endif %}">Eye Exam</a>
                                </li>
                                <li class="{% block diagnostics_class %}{% endblock %}">
                                    <a href="{% url 'diagnostics' %}?sn={% if request.GET.sn %}{{ request.GET.sn }}{% else %}{{ participant.participant_number }} {% endif %}">Diagnostics</a>
                                </li>
                                <li class="{% block notes_class %}{% endblock %}">
                                    <a href="{% url 'notes' %}?sn={% if request.GET.sn %}{{ request.GET.sn }}{% else %}{{ participant.participant_number }} {% endif %}">Notes</a>
                                </li>
                                
                                <li class="{% block summary_class %}{% endblock %}">
                                    <a href="{% url 'summary'%}?sn={% if request.GET.sn %}{{ request.GET.sn }}{% else %}{{ participant.participant_number }} {% endif %}">Summary</a>
                                </li>
                                {% if request.user.is_superuser %}
                                <li class="{% block dropdown_class %}{% endblock %}">
                                    <a href="{% url 'dropdown-listing' %}">Dropdown Listing</a>
                                </li>
                                <li class="{% block analysis_class %}{% endblock %}">
                                    <a href="{% url 'analysis' %}">Analysis</a>
                                </li>
                                {% endif %}
                            </ul>
                            <div class="clearfix"></div>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
        </div>

        {% if participant %}
        <div class="thumbnail media participant-info navbar-fixed-top" style="display: none;">
            <form id="profileForm" enctype="multipart/form-data" action="{% url 'picture-upload' %}" method="post">
                {% csrf_token %}
                <h4>Participant No.</h4>
                <h3>
                    <input id="pnumber" name="pn" type="text" value="{% if participant %}{{ participant.participant_number }}{% endif %}" placeholder="None" />
                </h3>
                <div class="media-middle">
                {% if participant.profile_picture %}
                    {% thumbnail participant.profile_picture "150x180" as im %}
                        <img id="profile-pic" class="image-uploadable" src="{{ im.url }}">
                    {% endthumbnail %}
                {% else %}
                    <img id="profile-pic"  class="image-uploadable" src="{% static 'survey/images/placeholder.png' %}" />
                {% endif %}
                </div>
                <input name="field" type="hidden" value="profile_picture" />
                <input name="width" type="hidden" value="150" />
                <input name="height" type="hidden" value="180" />
                <div class="caption">
                    <input type="checkbox" name="is_household_head" id="is_household_head" {% if participant.is_household_head %}checked{% endif %} />
                    <label for="is_household_head">Household Head</label>
                </div>
            </form>
        </div>

        <div class="thumbnail navbar-fixed-top participant-state">
            <div id="for-tonometry-display"></div>
            <div id="for-dilation-display"></div>
        </div>

        {% endif %}

        <div class="container">
            
        {% block main %}
        {% endblock %}
        </div>

        {% block extra_script %}
        {% endblock %}
        <script>
            // Global
            var HHeadUpdateURL = "{% url 'household-update' %}";
            var FIELD_SAVE_URL = "{% url 'field-save' %}";
            var FIELD_QUERY_URL = "{% url 'field-query' %}";
            var TONOMETRY_DILATION_STATUS = "{% url 'tonometry-dilation-status' %}";
            var displayPP = "{% block participant_info %}{% endblock %}".toLowerCase() != "none";
        </script>
        <script src="{% static 'survey/js/base.js' %}"></script>
    </body>

</html>