{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}

{% block title %}Analysis{% endblock %}

{% block extra_head %}
{% endblock %}

{% block analysis_class %}active{% endblock %}

{% block main %}

<h3 class="tab-title">Analysis</h3>
<div class="messages">
{% if success_message %}
    <div class="alert alert-success" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ success_message }}
    </div>
{%  endif %}

{% if error_message %}
    <div class="alert alert-success" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ error_message }}
    </div>
{%  endif %}
</div>
<form action='.' method='POST' id="conditions-form">
    {% csrf_token %}
    <input name="page" value="" type="hidden" />
    <div class="panel panel-default">
        <div class="panel-heading">
                <h3 class="panel-title">Filters</h3>
            </div>
        <div class="panel-body">
                <div class="col-sm-12 table-container can-add-row">
                    <div>
                        {{ formset.management_form }}
                    </div>
                    <table id="conditions-table" class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th class="control-label">Variables</th>
                                    <th class="control-label">Operation</th>
                                    <th class="control-label">Value</th>
                                    <th class="control-label">Conjunction</th>
                                    <th id="col-DELETE">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for form in formset %}
                                <tr>
                                    <th class="control-group col-sm-4">
                                        {% bootstrap_field form.variable show_label=False form_group_class='controls' %}
                                    </th>
                                    <th class="control-group col-sm-2">{% bootstrap_field form.operation show_label=False form_group_class='controls' %}</th>
                                    <th class="control-group col-sm-4">{% bootstrap_field form.value show_label=False form_group_class='controls' %}</th>
                                    <th class="control-group col-sm-2">{% bootstrap_field form.conjunction show_label=False form_group_class='controls' %}</th>
                                    <th class="control-group col-sm-3" id="col-DELETE">{% bootstrap_field form.DELETE show_label=False form_group_class='controls' %}</th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
            
        </div>
    </div>

    <div class="buttonHolder">
        <button id="submit" class="btn btn-primary btn-primary col-sm-2 custom-button" >Query</button>
    </div>
</form>
<div class="row"></div>
<br />

<div class="panel panel-default">
    <div class="panel-heading">
            <h3 class="panel-title">Results ({{ results.paginator.count|default:"0" }}) </h3>
    </div>
    <div class="panel-body">
        <div class="col-sm-12 table-container">
            <table id="conditions-table" class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="control-label">Participant Number</th>
                        <th class="control-label">Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for participant in results %}
                    <tr>
                        <td><a href="{% url 'summary' %}?sn={{ participant.participant_number }}">{{ participant.participant_number }}</a></td>
                        <td>{{ participant.given_name|default:'' }} {{ participant.middle_name|default:'' }} {{ participant.last_name|default:'' }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td> - </td>
                        <td> - </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <nav>
            <ul class="pagination pull-right">
                {% if results.has_previous %}
                <li>
                    <a href="#" class="pagination-buttons" data-page="{{ results.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li> 
                {% else %}
                <li class="disabled">
                    <a aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li> 
                {% endif %}
                <li><a>Page {{ results.number|default:"1" }} of {{ results.paginator.num_pages|default:"1" }}</a></li>
                {% if results.has_next %}
                <li>
                    <a href="#" class="pagination-buttons" data-page="{{ results.next_page_number }}"  aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="disabled">
                    <a aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% endblock %}

{% block extra_script %}
<script>
    //Globals
    var DROPDOWN_DETAILS_ANALYTICS_URL = "{% url 'dropdown-details-analytics' %}";
</script>
<script src="{% static 'survey/js/analysis.js' %}"></script>
{% endblock %}