{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% load thumbnail %}

{% block title %}Diagnostics{% endblock %}

{% block extra_head %}
{% endblock %}

{% block diagnostics_class %}active{% endblock %}

{% block main %}

<h3 class="tab-title">Diagnostics</h3>
<div class="messages">
{% if success_message %}
	<div class="alert alert-success" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ success_message }}
    </div>
{%  endif %}

{% if error_message %}
	<div class="alert alert-success" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ error_message }}
    </div>
{%  endif %}
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Site Lamp Photos</h3>
	</div>
	<div class="panel-body">
		<div class="col-sm-5">
			<p class='col-sm-offset-1'>OD</p>
			<form enctype="multipart/form-data" action="{% url 'picture-upload' %}" method="post">
                {% csrf_token %}
                <input id="pnumber" name="pn" type="hidden" value="{% if participant %}{{ participant.participant_number }}{% endif %}"/>
                <input name="field" type="hidden" value="slit_lamp_od" />
                <input name="width" type="hidden" value="350" />
                <input name="height" type="hidden" value="245" />

                <div class="image-container" style="min-height: 245px;">
                {% if participant.slit_lamp_od %}
                    {% thumbnail participant.slit_lamp_od "350x245" as im %}
                        <img id="profile-pic" class="image-uploadable" src="{{ im.url }}">
                    {% endthumbnail %}
                {% else %}
                        <img id="profile-pic"  class="image-uploadable" src="{% static 'survey/images/placeholder2.png' %}" />
                {% endif %}
                </div>
            </form>
		</div>
		<div class="col-sm-5">
			<p class='col-sm-offset-1'>OS</p>
			<form enctype="multipart/form-data" action="{% url 'picture-upload' %}" method="post">
                {% csrf_token %}
                <input id="pnumber" name="pn" type="hidden" value="{% if participant %}{{ participant.participant_number }}{% endif %}"/>
                <input name="field" type="hidden" value="slit_lamp_os" />
                <input name="width" type="hidden" value="350" />
                <input name="height" type="hidden" value="245" />

                <div class="image-container" style="min-height: 245px;">
                {% if participant.slit_lamp_os %}
                    {% thumbnail participant.slit_lamp_os "350x245" as im %}
                        <img id="profile-pic" class="image-uploadable" src="{{ im.url }}">
                    {% endthumbnail %}
                {% else %}
                        <img id="profile-pic"  class="image-uploadable" src="{% static 'survey/images/placeholder2.png' %}" />
                {% endif %}
                </div>
            </form>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Fundus Photos (Optical Coherence Tomography)</h3>
	</div>
	<div class="panel-body">
		<div class="col-sm-5">
			<p class='col-sm-offset-1'>OD</p>
			<form enctype="multipart/form-data" action="{% url 'picture-upload' %}" method="post">
                {% csrf_token %}
                <input id="pnumber" name="pn" type="hidden" value="{% if participant %}{{ participant.participant_number }}{% endif %}"/>
                <input name="field" type="hidden" value="fundus_od" />
                <input name="width" type="hidden" value="350" />
                <input name="height" type="hidden" value="245" />

                <div class="image-container" style="min-height: 245px;">
                {% if participant.fundus_od %}
                    {% thumbnail participant.fundus_od "350x245" as im %}
                        <img id="profile-pic" class="image-uploadable" src="{{ im.url }}">
                    {% endthumbnail %}
                {% else %}
                        <img id="profile-pic"  class="image-uploadable" src="{% static 'survey/images/placeholder2.png' %}" />
                {% endif %}
                </div>
            </form>
		</div>
		<div class="col-sm-5">
			<p class='col-sm-offset-1'>OS</p>
			<form enctype="multipart/form-data" action="{% url 'picture-upload' %}" method="post">
                {% csrf_token %}
                <input id="pnumber" name="pn" type="hidden" value="{% if participant %}{{ participant.participant_number }}{% endif %}"/>
                <input name="field" type="hidden" value="fundus_os" />
                <input name="width" type="hidden" value="350" />
                <input name="height" type="hidden" value="245" />

                <div class="image-container" style="min-height: 245px;">
                {% if participant.fundus_os %}
                    {% thumbnail participant.fundus_os "350x245" as im %}
                        <img id="profile-pic" class="image-uploadable" src="{{ im.url }}">
                    {% endthumbnail %}
                {% else %}
                        <img id="profile-pic"  class="image-uploadable" src="{% static 'survey/images/placeholder2.png' %}" />
                {% endif %}
                </div>
            </form>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Optical Nerve Photos (Optical Coherence Tomography)</h3>
	</div>
	<div class="panel-body">
		<div class="col-sm-5">
			<p class='col-sm-offset-1'>OD</p>
			<form enctype="multipart/form-data" action="{% url 'picture-upload' %}" method="post">
                {% csrf_token %}
                <input id="pnumber" name="pn" type="hidden" value="{% if participant %}{{ participant.participant_number }}{% endif %}"/>
                <input name="field" type="hidden" value="optic_nerve_od" />
                <input name="width" type="hidden" value="350" />
                <input name="height" type="hidden" value="245" />

                <div class="image-container" style="min-height: 245px;">
                {% if participant.optic_nerve_od %}
                    {% thumbnail participant.optic_nerve_od "350x245" as im %}
                        <img id="profile-pic" class="image-uploadable" src="{{ im.url }}">
                    {% endthumbnail %}
                {% else %}
                        <img id="profile-pic"  class="image-uploadable" src="{% static 'survey/images/placeholder2.png' %}" />
                {% endif %}
                </div>
            </form>
		</div>
		<div class="col-sm-5">
			<p class='col-sm-offset-1'>OS</p>
			<form enctype="multipart/form-data" action="{% url 'picture-upload' %}" method="post">
                {% csrf_token %}
                <input id="pnumber" name="pn" type="hidden" value="{% if participant %}{{ participant.participant_number }}{% endif %}"/>
                <input name="field" type="hidden" value="optic_nerve_os" />
                <input name="width" type="hidden" value="350" />
                <input name="height" type="hidden" value="245" />

                <div class="image-container" style="min-height: 245px;">
                {% if participant.optic_nerve_os %}
                    {% thumbnail participant.optic_nerve_os "350x245" as im %}
                        <img id="profile-pic" class="image-uploadable" src="{{ im.url }}">
                    {% endthumbnail %}
                {% else %}
                        <img id="profile-pic"  class="image-uploadable" src="{% static 'survey/images/placeholder2.png' %}" />
                {% endif %}
                </div>
            </form>
		</div>
	</div>
</div>

{% endblock %}

{% block extra_script %}
{% endblock %}