{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}

{% block title %}Dropdown Listing{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'survey/css/dropdown.css' %}">
{% endblock %}

{% block dropdown_class %}active{% endblock %}

{% block main %}

<h3 class="tab-title">Dropdown Listing</h3>
<div class="messages">
{% if success_message %}
	<div class="alert alert-success" role="alert">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{{ success_message }}
	</div>
{%  endif %}

{% if error_message %}
	<div class="alert alert-danger" role="alert">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{{ error_message }}
	</div>
{%  endif %}
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<form id="dropdown_form" action="." method="post">
			{% csrf_token %}
			<div class="col-sm-offset-1">
				<div class="row">
					{% bootstrap_field form.variables form_group_class="col-sm-4" %}
				</div>
				<div class="row">
					{% bootstrap_field form2.number_range form_group_class="col-sm-4" %}
					{% bootstrap_field form2.number_range_increment form_group_class="col-sm-4" %}
				</div>
				<div class="row">
					{% bootstrap_field form.add_multiple_options form_group_class="col-sm-4" %}
				</div>
				<div class="row"><p></p></div>
				<div class="row {% if not formset.forms %}hidden{% endif %}">
					<div class="col-sm-8 formset-container">
						{% crispy formset formset.form.helper %}
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="buttonHolder">
	<button id="submit" class="btn btn-primary btn-primary col-sm-2 custom-button" >Save</button>
</div>



{% endblock %}

{% block extra_script %}
<script>
	var dropdownURL = "{% url 'dropdown-listing' %}";
</script>
<script src="{% static 'survey/js/dropdown.js' %}"></script>
{% endblock %}