{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}Eye Exam{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'survey/css/eye_exam.css' %}">
{% endblock %}

{% block eye_exam_class %}active{% endblock %}

{% block main %}

<h3 class="tab-title">Eye Exam</h3>
<div class="messages">
{% if success_message %}
	<div class="alert alert-success" role="alert">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{{ success_message }}
	</div>
{%  endif %}

{% if error_message %}
	<div class="alert alert-success" role="alert">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{{ error_message }}
	</div>
{%  endif %}
</div>
<form id="form1" action="." method="post">
	{% csrf_token %}
	{% bootstrap_field form.participant_number form_group_class='hidden' %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">History</h3>
		</div>
		<div class="panel-body">
			<div class="col-sm-10 table-container can-add-row">
			{% crispy formset formset.form.helper %}
			</div>
			<div class="col-sm-10 table-container can-add-row">
			{% crispy formset2 formset2.form.helper %}
			</div>
			<div class="col-sm-10 table-container can-add-row">
			{% crispy formset3 formset3.form.helper %}
			</div>
			<div class="col-sm-10 table-container can-add-row">
			{% crispy formset4 formset4.form.helper %}
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Symptoms</h3>
		</div>
		<div class="panel-body">
			<div class="col-sm-10 table-container can-add-row">
			{% crispy formset5 formset5.form.helper %}
			</div>
			<div class="col-sm-5 table-container can-add-row">
			{% crispy formset6 formset6.form.helper %}
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Visual Acuity</h3>
		</div>
		<div class="panel-body">
			<div class="col-sm-10 table-container">
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th class="control-label">&nbsp;</th>
							<th class="control-label">Without Correction</th>
							<th class="control-label">With Correction</th>
							<th class="control-label">With Correction and Pinhole</th>
							<th class="control-label">Near Vision</th>
							<th class="control-label">Best Vision</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="control-group col-sm-1">OD</th>
							<th class="control-group">
								{% bootstrap_field form.visual_acuity_od_without_correction show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form.visual_acuity_od_with_correction show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form.visual_acuity_od_without_correction_and_pinhole show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group special-col" rowspan="2" style="height:100%">
								{% bootstrap_field form.visual_acuity_near_vision show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form.visual_acuity_od_best_vision show_label=False form_group_class='controls' %}
							</th>
						</tr>

						<tr>
							<th class="control-group col-sm-1">OS</th>
							<th class="control-group">
								{% bootstrap_field form.visual_acuity_os_without_correction show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form.visual_acuity_os_with_correction show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form.visual_acuity_os_without_correction_and_pinhole show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form.visual_acuity_os_best_vision show_label=False form_group_class='controls' %}
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Automated Refraction</h3>
		</div>
		<div class="panel-body">
			<div class="col-sm-10 table-container">
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th class="control-label">&nbsp;</th>
							<th class="control-label">Sphere</th>
							<th class="control-label">Cylinder</th>
							<th class="control-label">Axis</th>
							<th class="control-label">Pupil Distance</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="control-group col-sm-1">OD</th>
							<th class="control-group">
								{% bootstrap_field form2.automated_refraction_od_sphere show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form2.automated_refraction_od_cylinder show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form2.automated_refraction_od_axis show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group col-sm-2 special-col" rowspan="2" style="height: 100%">
								{% bootstrap_field form2.automated_refraction_pupil_distance show_label=False form_group_class='controls' %}
							</th>
						</tr>
						<tr>
							<th class="control-group col-sm-1">OS</th>
							<th class="control-group">
								{% bootstrap_field form2.automated_refraction_os_sphere show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form2.automated_refraction_os_cylinder show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form2.automated_refraction_os_axis show_label=False form_group_class='controls' %}
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="col-sm-4">
				<h3 class="panel-title">Eye Glasses</h3>
			</div>
			<div class="col-sm-7 col-sm-offset-1">
				<h3 class="panel-title">Eye Glass Refraction</h3>
			</div>
		</div>
		<div class="panel-body">

			<!--- TYPE of EYE Glasses Table-->
			<div class="col-sm-4 table-container">
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th class="control-label">&nbsp;</th>
							<th class="control-label">Type of Eye Glasses</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="control-group col-sm-1">OD</th>
							<th class="control-group">
								{% bootstrap_field form3.type_eye_glasses_od show_label=False form_group_class='controls' %}
							</th>
						</tr>
						<tr>
							<th class="control-group col-sm-1">OS</th>
							<th class="control-group">
								{% bootstrap_field form3.type_eye_glasses_os show_label=False form_group_class='controls' %}
							</th>
						</tr>
					</tbody>
				</table>
			</div>
			<!--- END of TYPE of EYE Glasses Table-->

			<!-- Eye Refraction Table -->
			<div class="col-sm-7 col-sm-offset-1 table-container">
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th class="control-label">&nbsp;</th>
							<th class="control-label">Sphere</th>
							<th class="control-label">Cylinder</th>
							<th class="control-label">Axis</th>
							<th class="control-label">Add</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="control-group col-sm-1">OD</th>
							<th class="control-group">
								{% bootstrap_field form3.eye_glass_refraction_od_sphere show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form3.eye_glass_refraction_od_cylinder show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form3.eye_glass_refraction_od_axis show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form3.eye_glass_refraction_od_add show_label=False form_group_class='controls' %}
							</th>
						</tr>
						<tr>
							<th class="control-group col-sm-1">OS</th>
							<th class="control-group">
								{% bootstrap_field form3.eye_glass_refraction_os_sphere show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form3.eye_glass_refraction_os_cylinder show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form3.eye_glass_refraction_os_axis show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form3.eye_glass_refraction_os_add show_label=False form_group_class='controls' %}
							</th>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- END of Eye Refraction Table-->
		</div>
	</div>

	<div id="ishihara" class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Color Vision (Ishihara) Test</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-3">{% bootstrap_field form5.ishihara_number_of_plates_correct show_label=False form_group_class='controls' %}</div>
				<div class="col-sm-1 text-center">of</div>
				<div class="col-sm-3">{% bootstrap_field form5.ishihara_plates show_label=False form_group_class='controls' %}</div>
				<div class="col-sm-2">seen normally</div>
			</div>
			<div class="row">
				<div class="col-sm-7">
				{% bootstrap_field form5.ishihara_result show_label=False form_group_class='controls' %}
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Tonometry</h3>
		</div>
		<div class="panel-body">
			<div class="col-sm-4">
				{% bootstrap_field form4.for_tonometry form_group_class='controls' %}
				<div class="col-sm-offset-1" id="tonometry-consent-div">
					{% bootstrap_field form4.for_tonometry_eye form_group_class='controls' show_label=False%}
					{% bootstrap_field form4.for_tonometry_consented form_group_class='controls' show_label=False %}
				</div>
			</div>
			<div class="col-sm-4 col-sm-offset-1 table-container" id="tonometry-details-div">
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th class="control-label">&nbsp;</th>
							<th class="control-label">Intraocular Pressure (mmHg)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="control-label">OD</th>
							<th class="control-group">
								{% bootstrap_field form4.intraocular_pressure_od show_label=False form_group_class='controls' %}
							</th>
						</tr>
						<tr>
							<th class="control-label">OS</th>
							<th class="control-group">
								{% bootstrap_field form4.intraocular_pressure_os show_label=False form_group_class='controls' %}
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Dilation</h3>
		</div>
		<div class="panel-body">
			<div class="col-sm-4">
				{% bootstrap_field form4.for_dilation form_group_class='controls' %}
				<div class="col-sm-offset-1" id="dilation-consent-div">
					{% bootstrap_field form4.for_dilation_eye form_group_class='controls' show_label=False%}
					{% bootstrap_field form4.for_dilation_consented form_group_class='controls' show_label=False %}
				</div>
			</div>
			<div class="col-sm-4 col-sm-offset-1 table-container" id="dilation-details-div">
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th class="control-label">&nbsp;</th>
							<th class="control-label">Yes / No</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="control-label">OD</th>
							<th class="control-group">
								{% bootstrap_field form4.dilation_od show_label=False form_group_class='controls' %}
							</th>
						</tr>
						<tr>
							<th class="control-label">OS</th>
							<th class="control-group">
								{% bootstrap_field form4.dilation_os show_label=False form_group_class='controls' %}
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Blood Glucose Level</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-10">
				{% bootstrap_field form4.glucose_level layout='horizontal' field_class='col-sm-4' %}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
				{% bootstrap_field form4.number_of_hours_last_meal layout='horizontal' field_class='col-sm-4' %}
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Blood Pressure</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-10">
				{% bootstrap_field form4.bp_systolic layout='horizontal' field_class='col-sm-4' %}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
				{% bootstrap_field form4.bp_diastolic layout='horizontal' field_class='col-sm-4' %}
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Ocular Findings and Diagnosis</h3>
		</div>
		<div class="panel-body">
			<div class="col-sm-10 table-container can-add-row">
			{% crispy formset7 formset7.form.helper %}
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Ocular Surgery/Laser/Procedure Objectively Seen during Examination</h3>
		</div>
		<div class="panel-body">
			<div class="col-sm-10 table-container can-add-row">
			{% crispy formset8 formset8.form.helper %}
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Management / Plan</h3>
		</div>
		<div class="panel-body">
			<div class="col-sm-10 table-container can-add-row">
			{% crispy formset9 formset9.form.helper %}
			</div>
		</div>
	</div>

	<div id="amsler" class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Amsler Recording Chart</h3>
		</div>
		<div class="panel-body">
			<div class="col-sm-5">
				<p class='col-sm-offset-1'>OD</p>
				<form><!-- hot fix --></form>
				<form enctype="multipart/form-data" action="{% url 'picture-upload' %}" method="post">
	                {% csrf_token %}
	                <input id="pnumber" name="pn" type="hidden" value="{% if participant %}{{ participant.participant_number }}{% endif %}"/>
	                <input name="field" type="hidden" value="amsler_od" />
	                <input name="width" type="hidden" value="350" />
	                <input name="height" type="hidden" value="245" />

	                <div class="image-container" style="min-height: 245px;">
	                {% if participant.amsler_od %}
	                    {% thumbnail participant.amsler_od "350x245" as im %}
	                        <img id="profile-pic" class="image-uploadable" src="{{ im.url }}" />
	                    {% endthumbnail %}
	                {% else %}
	                        <img id="profile-pic"  class="image-uploadable" src="{% static 'survey/images/placeholder2.png' %}" />
	                {% endif %}
	                </div>
	            </form>
            </div>
            <div class="col-sm-5">
            	<p class='col-sm-offset-1'>OS</p>
				<form enctype="multipart/form-data" action="{% url 'picture-upload' %}" method="post">
	                {% csrf_token %}
	                <input id="pnumber" name="pn" type="hidden" value="{% if participant %}{{ participant.participant_number }}{% endif %}"/>
	                <input name="field" type="hidden" value="amsler_os" />
	                <input name="width" type="hidden" value="350" />
	                <input name="height" type="hidden" value="245" />

	                <div class="image-container" style="min-height: 245px;">
	                {% if participant.amsler_os %}
	                    {% thumbnail participant.amsler_os "350x245" as im %}
	                        <img id="profile-pic" class="image-uploadable" src="{{ im.url }}">
	                    {% endthumbnail %}
	                {% else %}
	                        <img id="profile-pic"  class="image-uploadable" src="{% static 'survey/images/placeholder2.png' %}" />
	                {% endif %}
	                </div>
	            </form>
            </div>
		</div>
	</div>

	<div class="buttonHolder">
		<button id="submit" class="btn btn-primary btn-primary col-sm-2 custom-button" >Save</button>
	</div>
</form>

{% endblock %}

{% block extra_script %}
<script src="{% static 'survey/js/eye_exam.js' %}"></script>
{% endblock %}