{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}

{% block title %}General Information{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'survey/css/gen_info.css' %}">
{% endblock %}

{% block gen_info_class %}active{% endblock %}

{% block main %}

<h3 class="tab-title">General Information</h3>
<!-- <div class="pull-right">
    <button class="btn btn-success" id="printable-btn">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>&nbsp;&nbsp;Printable Version
    </button>
</div> -->

<div class="messages">
{% if success_message %}
    <div class="alert alert-success" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ success_message }}
    </div>
{%  endif %}

{% if error_message %}
    <div class="alert alert-success" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ error_message }}
    </div>
{%  endif %}
</div>

<form action="." method="post">
    {% csrf_token %}
    {% bootstrap_field form.participant_number form_group_class='hidden' %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Participant Details</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                {% bootstrap_field form.date_started label_class="col-sm-2" field_class="col-sm-3" %}
            </div>
            <div class="row">
                {% bootstrap_field form2.code label_class="col-sm-2" field_class="col-sm-3" %}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Individual Details</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2 text-right">
                    <label>Name</label>
                </div>
                {% bootstrap_field form.given_name field_class="col-sm-3" show_label=False %}
                {% bootstrap_field form.middle_name field_class="col-sm-3" show_label=False %}
                {% bootstrap_field form.last_name field_class="col-sm-3" show_label=False %}
            </div>
            <div class="row">
                {% bootstrap_field form2.region field_class="col-sm-3" label_class="col-sm-2" %}
            </div>
            <div class="row">
                {% bootstrap_field form2.province field_class="col-sm-3" label_class="col-sm-2" %}
            </div>
            <div class="row">
                {% bootstrap_field form2.barangay field_class="col-sm-3" label_class="col-sm-2" %}
            </div>
            <div class="row">
                {% bootstrap_field form.birthday field_class="col-sm-3 dateinput" label_class="col-sm-2" %}
            </div>
            <div class="row">
                {% bootstrap_field form.age field_class="col-sm-3 " label_class="col-sm-2" %}
            </div>
            <div class="row">
                {% bootstrap_field form.occupation field_class="col-sm-3 " label_class="col-sm-2" %}
                {% bootstrap_field form.former_occupation field_class="col-sm-3 " label_class="col-sm-2" %}
            </div>
            <div class="row">
                {% bootstrap_field form.sex field_class="col-sm-3 " label_class="col-sm-2" %}
            </div>
            <div class="row">
                {% bootstrap_field form.civil_status field_class="col-sm-3 " label_class="col-sm-2" %}
            </div>
            <div class="row">
                {% bootstrap_field form.contact_number field_class="col-sm-3 " label_class="col-sm-2" %}
            </div>
            <div class="row">
                {% bootstrap_field form.educational_attainment field_class="col-sm-3 " label_class="col-sm-2" %}
            </div>
            <div class="row">
                {% bootstrap_field form2.nearest_relative field_class="col-sm-3 " label_class="col-sm-2" %}
            </div>
            <div class="row">
                {% bootstrap_field form2.nearest_relative_contact_details field_class="col-sm-3 col-sm-offset-2" label_class="col-sm-2" show_label=False %}
            </div>
        </div>
    </div>
    <div class="buttonHolder">
        <button id="submit" class="btn btn-primary btn-primary col-sm-2 custom-button" >Save</button>
    </div>
</form>

{% endblock %}

{% block extra_script %}
    <script>
        var generateHouseholdURL = "{% url 'household-generator' %}";
        var retrieveHouseholdURL = "{% url 'household-retriever' %}";

        var printableURL = "{% url 'summary' %}?sn={% if request.GET.sn %}{{ request.GET.sn }}{% else %}{{ participant.participant_number }}{% endif %}&printable=1";
    </script>
    <script src="{% static 'survey/js/gen_info.js' %}"></script>
{% endblock %}