{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% block title %}Health & Lifestyle{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'survey/css/health_lifestyle.css' %}">
{% endblock %}

{% block health_lifestyle_class %}active{% endblock %}

{% block main %}

<h3 class="tab-title">Health & Lifestyle</h3>
<div class="messages">
{% if success_message %}
	<div class="alert alert-success" role="alert">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	{{ success_message }}
	</div>
{%  endif %}

{% if error_message %}
	<div class="alert alert-success" role="alert">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{{ error_message }}
	</div>
{%  endif %}
</div>

<form action="." method="post" class="form-horizontal">
	{% crispy form form.helper %}


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">History</h3>
		</div>
		<div class="panel-body">
			<div class="col-sm-10 table-container can-add-row">
			{% crispy systemic_disease_formset systemic_disease_formset.form.helper %}
			</div>
			<div class="col-sm-10 table-container can-add-row">
			{% crispy lifestyle_condition_formset lifestyle_condition_formset.form.helper %}
			</div>

			<div class="col-sm-10 table-container can-add-row">
			{% crispy systemic_medication_formset systemic_medication_formset.form.helper %}
			</div>

			<div class="col-sm-10 table-container can-add-row">
			{% crispy ocular_medication_formset ocular_medication_formset.form.helper %}
			</div>

			<div class="col-sm-10 table-container can-add-row">
			{% crispy dietary_supplement_formset dietary_supplement_formset.form.helper %}
			</div>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Health Insurance</h3>
		</div>
		<div class="panel-body">
			{% bootstrap_field form9.insurance_holder field_class="col-sm-3" label_class="col-sm-2" %}
			{% bootstrap_field form9.dependent_of_insurance_holder field_class="col-sm-3" label_class="col-sm-2" %}
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Smoking and Alcohol Consumption</h3>
		</div>
		<div class="panel-body">
			{% bootstrap_field form9.smoker field_class="col-sm-3" label_class="col-sm-2" %}
			<div id="smoke-details" class="col-sm-offset-2">
				{% bootstrap_field form9.type_of_smoke field_class="col-sm-3" label_class="col-sm-2" %}
				{% bootstrap_field form9.number_of_sticks field_class="col-sm-3" label_class="col-sm-2" %}
				{% bootstrap_field form9.smoking_frequency field_class="col-sm-3" label_class="col-sm-2" %}
				{% bootstrap_field form9.smoking_duration field_class="col-sm-3" label_class="col-sm-2" %}
				{% bootstrap_field form9.pack_years field_class="col-sm-3" label_class="col-sm-2" %}
			</div>
			{% bootstrap_field form9.alcoholic_beverages field_class="col-sm-3" label_class="col-sm-2" %}
			<div id="alcohol-consumption-details">
				<br />	
				<div class="col-sm-9 col-sm-offset-2 table-container can-add-row">
					{% crispy alcoholic_beverages_formset alcoholic_beverages_formset.form.helper %}
				</div>
				{% bootstrap_field form9.alcohol_total_glasses field_class="col-sm-2" label_class="col-sm-3 col-sm-offset-6" %}
			</div>
			<div class="row"></div>
			{% bootstrap_field form9.recreational_drug field_class="col-sm-3" label_class="col-sm-2" %}
			<div id="recreational-drug-details"  class="col-sm-offset-2">
				{% bootstrap_field form9.recreational_drug_type field_class="col-sm-3" label_class="col-sm-2" %}
				{% bootstrap_field form9.recreational_drug_duration field_class="col-sm-3" label_class="col-sm-2" %}
			</div>
		</div>
	</div>

	{% crispy form2 form2.helper %}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Sunlight Exposure</h3>
		</div>
		<div class="panel-body">
			<div class="col-sm-10 table-container">
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th class="control-label">&nbsp;</th>
							<th class="control-label">Elementary School Years</th>
							<th class="control-label">High School Years</th>
							<th class="control-label">College Years</th>
							<th class="control-label">Working Years</th>
							<th class="control-label">Retired Years</th>
							<th class="control-label">Total/Average</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="control-group col-sm-3">No. of years for each life stage</th>
							<th class="control-group">
								{% bootstrap_field form3.number_of_years_elementary_sunlight_exposure show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form3.number_of_years_highschool_sunlight_exposure show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form3.number_of_years_college_sunlight_exposure show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form3.number_of_years_working_sunlight_exposure show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form3.number_of_years_retired_sunlight_exposure show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form3.number_of_years_total_average_sunlight_exposure show_label=False form_group_class='controls'  %}
							</th>
						</tr>
						<tr>
							<th class="control-group col-sm-3">No. of hours spent outdoor during the day</th>
							<th class="control-group">
								{% bootstrap_field form3.number_of_hours_spent_elementary_sunlight_exposure show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form3.number_of_hours_spent_highschool_sunlight_exposure show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form3.number_of_hours_spent_college_sunlight_exposure show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form3.number_of_hours_spent_working_sunlight_exposure show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form3.number_of_hours_spent_retired_sunlight_exposure show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form3.number_of_hours_spent_total_average_sunlight_exposure show_label=False form_group_class='controls'  %}
							</th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-12">
			{% crispy form4 form4.helper %}
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Near Work</h3>
		</div>
		<div class="panel-body">
			<div class="col-sm-10 table-container">
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th class="control-label">&nbsp;</th>
							<th class="control-label">Elementary School Years</th>
							<th class="control-label">High School Years</th>
							<th class="control-label">College Years</th>
							<th class="control-label">Working Years</th>
							<th class="control-label">Retired Years</th>
							<th class="control-label">Total/Average</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="control-group col-sm-3">No. of years for each life stage</th>
							<th class="control-group">
								{% bootstrap_field form5.number_of_years_elementary_near_work show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form5.number_of_years_highschool_near_work show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form5.number_of_years_college_near_work show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form5.number_of_years_working_near_work show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form5.number_of_years_retired_near_work show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form5.number_of_years_total_average_near_work show_label=False form_group_class='controls'  %}
							</th>
						</tr>
						<tr>
							<th class="control-group col-sm-3">No. of hours of near work per day</th>
							<th class="control-group">
								{% bootstrap_field form5.number_of_hours_spent_elementary_near_work show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form5.number_of_hours_spent_highschool_near_work show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form5.number_of_hours_spent_college_near_work show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form5.number_of_hours_spent_working_near_work show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form5.number_of_hours_spent_retired_near_work show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form5.number_of_hours_spent_total_average_near_work show_label=False form_group_class='controls'  %}
							</th>
						</tr>
						<tr>
							<th class="control-group col-sm-3">No. of hours spent on computer/tablet/mobile per day</th>
							<th class="control-group">
								{% bootstrap_field form5.number_of_hours_spent_near_computer_elementary_near_work show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form5.number_of_hours_spent_near_computer_highschool_near_work show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form5.number_of_hours_spent_near_computer_college_near_work show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form5.number_of_hours_spent_near_computer_working_near_work show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form5.number_of_hours_spent_near_computer_retired_near_work show_label=False form_group_class='controls' %}
							</th>
							<th class="control-group">
								{% bootstrap_field form5.number_of_hours_spent_near_computer_total_average_near_work show_label=False form_group_class='controls'  %}
							</th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
			{% bootstrap_field form5.frequency_using_glasses_near_work form_group_class='controls' layout='horizontal' field_class='col-sm-3' %}
			</div>
			<div class="row">
			{% bootstrap_field form5.protective_glasses_type_near_work form_group_class='controls' layout='horizontal' field_class='col-sm-3' %}
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Location</h3>
		</div>
		<div class="panel-body">
            {% bootstrap_field form8.gps_reading field_class="col-sm-3" label_class="col-sm-2" %}
            {% bootstrap_field form8.elevation field_class="col-sm-3" label_class="col-sm-2" %}
            {% bootstrap_field form8.locale field_class="col-sm-3" label_class="col-sm-2" %}
            {% bootstrap_field form8.distance_from_the_sea field_class="col-sm-3" label_class="col-sm-2" %}
            {% bootstrap_field form8.length_of_stay field_class="col-sm-3" label_class="col-sm-2 col-sm-offset-1" %}
		</div>
	</div>
	{% crispy form6 form6.helper %}
	{% crispy form7 form7.helper %}

	<div class="buttonHolder">
		<button id="submit" class="btn btn-primary btn-primary col-sm-2 custom-button" >Save</button>
	</div>
	<div class="clearfix"></div>
	<br />
	<p><sup>2</sup>&nbsp;&nbsp;WHO Expert Consultation Panel (2004). Appropriate body-mass index for Asian populations and its implications for policy and intervention strategies. The Lancet, 363(9403), 157-163.</p>
</form>
{% endblock %}

{% block extra_script %}
<script src="{% static 'survey/js/health_lifestyle.js' %}"></script>
{% endblock %}