{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}Home{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'survey/css/home.css' %}">
{% endblock %}

{% block navbar %}None{% endblock %}
{% block participant_info %}None{% endblock %}

{% block main %}
<div class="home-body">
    <div class="form">
		<a href="{% url 'gen-info' %}?start_new=1">
			<button class="btn btn-lg btn-success btn-block" type="submit" autofocus=''>Start a New Participant</button>
		</a>     
		<p>or</p>
		{% crispy form form.helper %}
    </div>
    <div class="home-messages">
		{% if error %}
		<div class="alert alert-danger" role="alert">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			{{ error|striptags }}

		</div>
	    {% endif %}
    </div>

</div>
<div class="logos">
	<img src="{% static 'survey/images/logos/peri_logo.jpg' %}" />
	<img src="{% static 'survey/images/logos/nih_logo.png' %}" />
	<img src="{% static 'survey/images/logos/upm.png' %}" />

	<div class="sponsored">
		<div>Sponsored by</div>
		<img src="{% static 'survey/images/logos/doh_seal.png' %}" />
	</div>
</div>
{% endblock %}

{% block extra_script %}
{% endblock %}