{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}PEDS | Login{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'survey/css/home.css' %}">
<link rel="stylesheet" href="{% static 'survey/css/login.css' %}">
{% endblock %}

{% block navbar %}None{% endblock %}
{% block participant_info %}None{% endblock %}

{% block main %}
<div class="home-body">
    <div class="form">
    	<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        	{% csrf_token %}
        	<input class="textinput textInput form-control form-control-lg" id="id_username" maxlength="100" name="username" placeholder="Username" type="text" autofocus>
        	<input class="form-control-lg textinput textInput form-control" id="id_password" maxlength="100" name="password" placeholder="Password" type="password">

       		<input class="btn btn-lg btn-primary btn-block" type="submit" autofocus='' value='Login' />
       		<input type="hidden" name="next" value="{% url 'home' %}" />
    	</form>
    </div>
    <div class="home-messages">
		{% if form.errors %}
		<div class="alert alert-danger" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Your username and password didn't match. Please try again.
        </div>
	    {% endif %}
    </div>
</div>

<div class="logos">
	<img src="{% static 'survey/images/logos/peri_logo.jpg' %}" />
	<img src="{% static 'survey/images/logos/nih_logo.png' %}" />
	<img src="{% static 'survey/images/logos/upm.png' %}" />

	<div class="sponsored">
		<div>Sponsored by</div>
		<img src="{% static 'survey/images/logos/doh_seal.png' %}" />
	</div>
</div>
{% endblock %}

{% block extra_script %}
{% endblock %}