{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Notes{% endblock %}

{% block extra_head %}
{% endblock %}

{% block notes_class %}active{% endblock %}

{% block main %}

<h3 class="tab-title">Notes</h3>
<div class="messages">
{% if success_message %}
    <div class="alert alert-success" role="alert">
    	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    	{{ success_message }}
    </div>
{%  endif %}

{% if error_message %}
    <div class="alert alert-success" role="alert">
    	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    	{{ error_message }}
	</div>
{%  endif %}
</div>

{% crispy form form.helper %}

{% endblock %}

{% block extra_script %}
<script src="{% static 'survey/js/notes.js' %}"></script>
{% endblock %}