{% load staticfiles %}
<html>
	<head>
		<title>participant_{{ participant.participant_number }}</title>
		<style type="text/css">

		 	body {
				font: 11px;
			}

			.page-title {
				text-align: center;
				font-weight: bold;
			}

			.title {
				border-bottom: 2px solid black;
				padding-top: 10px;
				margin: 0px 0px 20px 0px;
				font: 12px;
			}

			table {
			}

			span.underline {
				text-decoration: underline;
			}

			.bordered {
				border: 1px solid black;
				text-align: center;
				vertical-align: middle;
				padding-top: 3px;
			}

			.label {
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<table>
			<tbody>
				<tr>
					<td colspan="6" class="page-title">PEDS Project</td>
				</tr>
				<tr>
					<td class="label">Participant Number:</td>
					<td>{{ participant.participant_number }}</td>
					<td class="label">Household Number:</td>
					<td >{{ participant.household_code|default:"__" }}</td>
					<td class="label">Date Examined:</td>
					<td>{{ participant.date_started }}</td>
				</tr>
			</tbody>
		</table>
		<h2 class="title">General Information</h2>
		<table>
			<tbody>
				<tr>
					<td class="label">Region:</td>
					<td>{{ participant.household_code.region|default:"__" }}</td>
					<td class="label">Province:</td>
					<td>{{ participant.household_code.province|default:"__" }}</td>
					<td class="label">Barangay:</td>
					<td>{{ participant.household_code.barangay|default:"__" }}</td>
				</tr>
				<tr>
					<td class="label">Age (Years) / Sex:</td>
					<td>{{ participant.age|default:"__" }}/{{ participant.sex|default:"__" }}</td>
					<td class="label">Occupation:</td>
					<td>{{ participant.occupation|default:"__" }}</td>
				</tr>
			</tbody>
		</table>
		<h2 class="title">Health and Lifestyle</h2>
		<table>
			<tbody>
				<tr>
					<td class="label">Height (cm):</td>
					<td>{{ participant.height|default:"__" }}</td>
					<td class="label">Weight (kg):</td>
					<td>{{ participant.weight|default:"__" }}</td>
					<td class="label">BMI (kg/m<sup>2</sup>)</td>
					<td>{{ participant.bmi|default:"__" }}</td>
				</tr>
				<tr>
					<td class="label">Blood Pressure (mmHg):</td>
					<td>{{ participant.bp_systolic|default:"__" }}/{{ participant.bp_diastolic|default:"__" }}</td>
					<td class="label">Glucose Level (mg/dL):</td>
					<td>{{ participant.glucose_level|default:"__" }}</td>
					<td class="label">Last Meal:</td>
					<td>{{ participant.number_of_hours_last_meal|default:"__" }} hour{% if not participant.number_of_hours_last_meal == '1' and not participant.number_of_hours_last_meal == '0' %}s{% endif %}</td>
				</tr>
				<tr>
					<td class="label">History</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="label">Systemic Disease</span></td>
					<td>&nbsp;</td>
					<td><span class="label">Duration (month/s)</span></td>
				</tr>

				{% for disease in participant.systemicdisease_set.all|slice:":3" %}
				<tr>
					<td>&nbsp;</td>
					<td>{{ disease.name }}</td>
					<td>&nbsp;</td>
					<td>{{ disease.duration }}</td>
				</tr>
				{% empty %}
				<tr>
					<td>&nbsp;</td>
					<td>__</td>
					<td>&nbsp;</td>
					<td>__</td>
				</tr>
				{% endfor %}
				<tr>
					<td>&nbsp;</td>
					<td><span class="label">Systemic Medication</span></td>
					<td>&nbsp;</td>
					<td><span class="label">Dose</span></td>
					<td>&nbsp;</td>
					<td><span class="label">Duration (month/s)</span></td>
				</tr>

				{% for medication in participant.systemicmedication_set.all|slice:":3" %}
				<tr>
					<td>&nbsp;</td>
					<td>{{ medication.name }}</td>
					<td>&nbsp;</td>
					<td>{{ medication.dose }}</td>
					<td>&nbsp;</td>
					<td>{{ medication.duration }}</td>
				</tr>
				{% empty %}
				<tr>
					<td>&nbsp;</td>
					<td>__</td>
					<td>&nbsp;</td>
					<td>__</td>
					<td>&nbsp;</td>
					<td>__</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<table>
			<tbody>
				<tr>
					<td colspan="5" class="label">Smoking Pack Years:</td>
					<td>{{ participant.pack_years|default:"__" }}</td>
				</tr>

				<tr>
					<td colspan="5" class="label">Number of meals, plate per meal and proportion:</td>
					<td colspan="7">{{ participant.number_of_complete_meal_per_day|default:"__" }} meals x {{ participant.average_number_of_plate_per_meal|default:"__" }} plates 
					[{{ participant.plate_proportions }}]</td>
				</tr>
			</tbody>
		</table>
		<table>
			<tbody>
				<tr>
					<td colspan="2" class="label">Average Sun Exposure (in hours):</td>
					<td>{{ participant.number_of_hours_spent_total_average_sunlight_exposure|default:"__" }}</td>
					<td colspan="2" class="label">Average Near Work (in hours):</td>
					<td>{{ participant.number_of_hours_spent_total_average_near_work|default:"__" }}</td>
				</tr>
				<tr>
					<td colspan="2" class="label">GPS Lat*Long [Elevation in meters]:</td>
					<td>{{ participant.household_code.gps_reading|default:"__" }} [{{ participant.household_code.elevation|default:" _ " }}]</td>
					<td colspan="2" class="label">Distance from the sea (meters):</td>
					<td>{{ participant.household_code.distance_from_the_sea|default:"__" }}</td>
				</tr>
			</tbody>
		</table>
		<h2 class="title">Socio-Economic Data</h2>
		<table>
			<tr>
				<td class="label">Household Type and Cluster:</td>
				<td>{{ participant.household_code.socio_economic_cluster|default:"__" }}</td>
			</tr>
		</table>
		<h2 class="title">Eye Exam</h2>
		<table>
			<tbody>
				<tr>
					<td class="label">History</td>
				</tr>
				<tr>
					<td colspan="2">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span class="label">Ocular Medication</span></td>
					<td><span class="label">Eye</span></td>
					<td><span class="label">Dose</span></td>
					<td><span class="label">Duration (month/s)</span></td>
				</tr>
				{% for medication in participant.ocularmedication_set.all|slice:":3" %}
				<tr>
					<td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{{ medication.name|default:"__" }}</td>
					<td>{{ medication.eye|default:"__" }}</td>
					<td>{{ medication.dose|default:"__" }}</td>
					<td>{{ medication.duration|default:"__" }}</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					__</td>
					<td>__</td>
					<td>__</td>
					<td>__</td>
				</tr>
				{% endfor %}
				<tr>
					<td class="label">Symptoms</td>
				</tr>
				<tr>
					<td colspan="2">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</td>
					<td><span class="label">Symptom</span></td>
					<td><span class="label">Duration (month/s)</span></td>
				</tr>
				<tr>
					<td colspan="2" class="label">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						Main Ocular Symptom, OD</td>
					<td>{{ participant.main_symptom_od.name|default:"__"}}</td>
					<td>{{ participant.main_symptom_od.duration|default:"__"}}</td>
				</tr>
				<tr>
					<td colspan="2" class="label">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						Main Ocular Symptom, OS</td>
					<td>{{ participant.main_symptom_os.name|default:"__"}}</td>
					<td>{{ participant.main_symptom_os.duration|default:"__"}}</td>
				</tr>
				<tr>
					<td colspan="2" class="label">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						Main Ocular Symptom, Patient</td>
					<td>{{ participant.main_symptom_patient.name|default:"__"}}</td>
					<td>{{ participant.main_symptom_patient.duration|default:"__"}}</td>
				</tr>
				<tr>
					<td colspan="2" class="label">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Non Ocular Symptom</td>
				{% for symptom in participant.nonocularsymptom_set.all|slice:":2" %}
					{% if forloop.first %}
						<td>{{ symptom.name|default:"__" }}</td>
						<td>{{ symptom.duration|default:"__" }}</td>
					</tr>
					{% else %}
					<tr>
						<td colspan="2"></td>
						<td>{{ symptom.name|default:"__" }}</td>
						<td>{{ symptom.duration|default:"__" }}</td>
					</tr>
					{% endif %}
					{% empty %}
						<td>__</td>
						<td>__</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<table class="table">
			<tbody>
				<tr>
					<td colspan="2" class="bordered label" >Visual Acuity</td>
					<td></td>
					<td colspan="4" class="bordered label" >Automated Refraction</td>
					<td></td>
					<td class="bordered label">Tonometry</td>
				</tr>
				<tr>
					<td class="bordered label">Eye</td>
					<td class="bordered label">Best Vision</td>
					<td></td>
					<td class="bordered label">Sphere</td>
					<td class="bordered label">Cylinder</td>
					<td class="bordered label">Axis</td>
					<td class="bordered label">Pupil Distance</td>
					<td></td>
					<td class="bordered label">IOP (mmHg)</td>
				</tr>
				<tr>
					<td class="bordered label">OD</td>
					<td class="bordered">{{ participant.visual_acuity_od_best_vision|default:"__" }}</td>
					<td></td>
					<td class="bordered">{{ participant.automated_refraction_od_sphere|default:"__" }}</td>
					<td class="bordered">{{ participant.automated_refraction_od_cylinder|default:"__" }}</td>
					<td class="bordered">{{ participant.automated_refraction_od_axis|default:"__" }}</td>
					<td class="bordered" rowspan="2">{{ participant.automated_refraction_pupil_distance|default:"__" }}</td>
					<td></td>
					<td class="bordered">{{ participant.intraocular_pressure_od|default:"__" }}</td>
				</tr>
				<tr>
					<td class="bordered label">OS</td>
					<td class="bordered">{{ participant.visual_acuity_os_best_vision|default:"__" }}</td>
					<td></td>
					<td class="bordered">{{ participant.automated_refraction_os_sphere|default:"__" }}</td>
					<td class="bordered">{{ participant.automated_refraction_os_cylinder|default:"__" }}</td>
					<td class="bordered">{{ participant.automated_refraction_os_axis|default:"__" }}</td>
					<td></td>
					<td class="bordered">{{ participant.intraocular_pressure_os|default:"__" }}</td>
				</tr>
			</tbody>
		</table>
		<br />
		<table>
			<tbody>
				<tr>
					<td class="label">Findings and Diagnosis</td>
				</tr>
				<tr>
					<td class="label">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						Main Diagnosis, OD
					</td>
					<td>{{ participant.main_diagnosis_od|default:"__" }}</td>
				</tr>
				<tr>
					<td class="label">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						Main Diagnosis, OS
					</td>
					<td>{{ participant.main_diagnosis_os|default:"__" }}</td>
				</tr>
				<tr>
					<td class="label">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						Main Diagnosis, Patient
					</td>
					<td>{{ participant.main_diagnosis_patient|default:"__" }}</td>
				</tr>
				<tr>
					<td class="label">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						Main Cause of Visual Loss
					</td>
					<td>{{ participant.main_cause_visual_loss|default:"__" }}</td>
				</tr>
			</tbody>
		</table>
		<br />
		<table>
			<tbody>
				<tr>
					<td colspan="3" class="label">Ocular Surgery/Laser/Procedure Objectively Seen During Examination</td>
				</tr>
				<tr>
					<td>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span class="label">Ocular Procedure</span></td>
					<td><span class="label">Eye</span></td>
					<td><span class="label">Surgery Outcome</span></td>
				</tr>
				{% for procedure in participant.ocularprocedure_set.all|slice:":3" %}
				<tr>
					<td>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						{{ procedure.name|default:"__" }}</td>
					<td>{{ procedure.eye|default:"__" }}</td>
					<td>{{ procedure.surgery_outcome|default:"__" }}</td>
				</tr>
				{% empty %}
				<tr>
					<td>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						__</td>
					<td>__</td>
					<td>__</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
