{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Socio Economic{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'survey/css/socio_economic.css' %}">
{% endblock %}

{% block socio_economic_class %}active{% endblock %}

{% block main %}
<h3 class="tab-title">Socio Economic&nbsp;&nbsp;<sup>2</sup></h3>
<div class="messages">
{% if success_message %}
	<div class="alert alert-success" role="alert">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{{ success_message }}
	</div>
{%  endif %}

{% if error_message %}
	<div class="alert alert-success" role="alert">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{{ error_message }}
	</div>
{%  endif %}
</div>

{% crispy form form.helper %}
<div class="clearfix"></div>
<br />
<p><sup>2</sup>&nbsp;&nbsp;Bersales, L. S., De Jesus, N., Barra, L., Mercado, J., Gobencion, B., & Lucagbo, M. (2012). 1SEC 2012: The New Philippine Socioeconomic Classification. Retrieved June, 2015, from http://www.nscb.gov.ph/ncs/12thncs/papers/INVITED/Panel Discussion/PD-1 SEC 2012 The New Philippine Socioeconomic Classification.pdf</p>
{% endblock %}

{% block extra_script %}
<script>
	var showScores = {% if request.GET.showScore %}true{% else %}false{% endif %};
</script>
<script src="{% static 'survey/js/socioeconomic.js' %}"></script>
{% endblock %}