{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Summary{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'survey/css/summary.css' %}">
{% endblock %}

{% block summary_class %}active{% endblock %}
{% block participant_info %}None{% endblock %}

{% block main %}
<h3 class="tab-title">Summary</h3>
<div class="pull-right">
    <button class="btn btn-success" id="printable-btn">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>&nbsp;&nbsp;Printable Version
    </button>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Participant Details</h3>
	</div>
	<div class="panel-body">
		<div class="form-group row">
			<div class="control-label col-sm-2">
				<label>Participant Number:</label>
			</div>
			<div class="controls col-sm-2">
			 	{{ participant.participant_number }}
			</div>
			<div class="control-label col-sm-2">
				<label>Household code:</label>
			</div>
			<div class="controls col-sm-2">
			 	{{ participant.household_code|default:"__" }}
			</div>
			<div class="control-label col-sm-2">
				<label>Date Examined:</label>
			</div>
			<div class="controls col-sm-2">
			 	{{ participant.date_started|default:"__" }}
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">General Information</h3>
	</div>
	<div class="panel-body">
		<div class="form-group row">
			<div class="control-label col-sm-2">
				<label>Region</label>
			</div>
			<div class="controls col-sm-2">
			 	{{ participant.household_code.region }}
			</div>
			<div class="control-label col-sm-2">
				<label>Province:</label>
			</div>
			<div class="controls col-sm-2">
			 	{{ participant.household_code.province|default:"__" }}
			</div>
			<div class="control-label col-sm-2">
				<label>Barangay:</label>
			</div>
			<div class="controls col-sm-2">
			 	{{ participant.household_code.barangay|default:"__" }}
			</div>
		</div>
		<div class="form-group row">
			<div class="control-label col-sm-2">
				<label>Age (Years)/Sex:</label>
			</div>
			<div class="controls col-sm-2">
			 	{{ participant.age|default:"__" }}/{{ participant.sex|default:"__" }}
			</div>
			<div class="control-label col-sm-2">
				<label>Occupation:</label>
			</div>
			<div class="controls col-sm-2">
			 	{{ participant.occupation|default:"__" }}
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Health and Lifestyle</h3>
	</div>
	<div class="panel-body">
		<div class="form-group row">
			<div class="control-label col-sm-2">
				<label>Height (cm):</label>
			</div>
			<div class="controls col-sm-2">
			 	{{ participant.height|default:"__" }}
			</div>
			<div class="control-label col-sm-2">
				<label>Weight (kg):</label>
			</div>
			<div class="controls col-sm-2">
			 	{{ participant.weight|default:"__" }}
			</div>
			<div class="control-label col-sm-2">
				<label>BMI (kg/m<sup>2</sup>):</label>
			</div>
			<div class="controls col-sm-2">
			 	{{ participant.bmi|default:"__" }}
			</div>
		</div>
		<div class="form-group row">
			<div class="control-label col-sm-2">
				<label>Blood Pressure (mmHg):</label>
			</div>
			<div class="controls col-sm-2">
			 	{{ participant.bp_systolic|default:"__" }}/{{ participant.bp_diastolic|default:"__" }}
			</div>
			<div class="control-label col-sm-2">
				<label>Glucose Level (mg/dL):</label>
			</div>
			<div class="controls col-sm-2">
			 	{{ participant.glucose_level|default:"__" }}
		 	</div>
		 	<div class="control-label col-sm-2">
				<label>Last Meal:</label>
			</div>
			<div class="controls col-sm-2">
			 	{{ participant.number_of_hours_last_meal|default:"__" }} hour{% if not participant.number_of_hours_last_meal == '1' and not participant.number_of_hours_last_meal == '0' %}s{% endif %}
		 	</div>
		</div>
		<br />
		<div class="form-group row">
			<div class="control-label col-sm-2">
				<label>History</label>
			</div>
		</div>
		<div class="form-group row">
			<div class="control-label col-sm-2 col-sm-offset-2">
				<label>Systemic Disease</label>
			</div>
			<div class="control-label col-sm-2 col-sm-offset-1">
				<label>Duration (month/s)</label>
			</div>
		</div>

		{% for disease in participant.systemicdisease_set.all|slice:":3" %}
		<div class="form-group row">
			<div class="control-label col-sm-2 col-sm-offset-2">
				{{ disease.name }}
			</div>
			<div class="control-label col-sm-2 col-sm-offset-1">
				{{ disease.duration }}
			</div>
		</div>
		{% empty %}
		<div class="form-group row">
			<div class="control-label col-sm-2 col-sm-offset-2">
				__
			</div>
			<div class="control-label col-sm-2 col-sm-offset-1">
				__
			</div>
		</div>
		{% endfor %}
		<br />
		<div class="form-group row">
			<div class="control-label col-sm-2 col-sm-offset-2">
				<label>Systemic Medication</label>
			</div>
			<div class="control-label col-sm-2 col-sm-offset-1">
				<label>Dose</label>
			</div>
			<div class="control-label col-sm-2 col-sm-offset-1">
				<label>Duration (month/s)</label>
			</div>
		</div>
		{% for medication in participant.systemicmedication_set.all|slice:":3" %}
		<div class="form-group row">
			<div class="control-label col-sm-2 col-sm-offset-2">
				{{ medication.name }}
			</div>
			<div class="control-label col-sm-2 col-sm-offset-1">
				{{ medication.dose }}
			</div>
			<div class="control-label col-sm-2 col-sm-offset-1">
				{{ medication.duration }}
			</div>
		</div>
		{% empty %}
		<div class="form-group row">
			<div class="control-label col-sm-2 col-sm-offset-2">
				__
			</div>
			<div class="control-label col-sm-2 col-sm-offset-1">
				__
			</div>
			<div class="control-label col-sm-2 col-sm-offset-1">
				__
			</div>
		</div>
		{% endfor %}
		<br />
		<div class="form-group row">
			<div class="control-label col-sm-4">
				<label>Smoking Pack Years: </label>
			</div>
			<div class="control-label col-sm-5">
				{{ participant.pack_years|default:"__" }}
			</div>
		</div>
		<div class="form-group row">
			<div class="control-label col-sm-4">
				<label>Number of meals, plate per meal and proportion:</label>
			</div>
			<div class="control-label col-sm-6">
				{{ participant.number_of_complete_meal_per_day|default:"__" }} meals x {{ participant.average_number_of_plate_per_meal|default:"__" }} plates 
					[{{ participant.plate_proportions }}]
			</div>
		</div>
		<br />
		<div class="form-group row">
			<div class="control-label col-sm-4">
				<label>Average Sun Exposure (in hours):</label>
			</div>
			<div class="controls col-sm-2">
			 	{{ participant.number_of_hours_spent_total_average_sunlight_exposure|default:"__" }}
			</div>
			<div class="control-label col-sm-4">
				<label>Average Near Work (in hours):</label>
			</div>
			<div class="controls col-sm-2">
			 	{{ participant.number_of_hours_spent_total_average_near_work|default:"__" }}
			</div>
		</div>
		<div class="form-group row">
			<div class="control-label col-sm-4">
				<label>GPS Lat*Long [Elevation in meters]:</label>
			</div>
			<div class="controls col-sm-2">
			 	{{ participant.household_code.gps_reading|default:"__" }} [{{ participant.household_code.elevation|default:" _ " }}]
			</div>
			<div class="control-label col-sm-4">
				<label>Distance from the sea (meters):</label>
			</div>
			<div class="controls col-sm-2">
			 	{{ participant.household_code.distance_from_the_sea|default:"__" }}
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Socio-Economic Data</h3>
	</div>
	<div class="panel-body">
		<div class="form-group row">
			<div class="control-label col-sm-4">
				<label>Household Type and Cluster:</label>
			</div>
			<div class="controls col-sm-2">
			 	{{ participant.household_code.socio_economic_cluster|default:"__" }}
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Eye Exam</h3>
	</div>
	<div class="panel-body">
		<div class="form-group row">
			<div class="control-label col-sm-2">
				<label>History</label>
			</div>
		</div>
		<div class="form-group row">
			<div class="control-label col-sm-3 col-sm-offset-1">
				<label>Ocular Medication</label>
			</div>
			<div class="control-label col-sm-2">
				<label>Eye</label>
			</div>
			<div class="control-label col-sm-2">
				<label>Dose</label>
			</div>
			<div class="control-label col-sm-2">
				<label>Duration (month/s)</label>
			</div>
		</div>
		{% for medication in participant.ocularmedication_set.all|slice:":3" %}
			<div class="form-group row">
				<div class="control-label col-sm-3 col-sm-offset-1">
					{{ medication.name|default:"__" }}
				</div>
				<div class="control-label col-sm-2">
					{{ medication.eye|default:"__" }}
				</div>
				<div class="control-label col-sm-2">
					{{ medication.dose|default:"__" }}
				</div>
				<div class="control-label col-sm-2">
					{{ medication.duration|default:"__" }}
				</div>
			</div>
		{% empty %}
			<div class="form-group row">
				<div class="control-label col-sm-3 col-sm-offset-1">
					__
				</div>
				<div class="control-label col-sm-2">
					__
				</div>
				<div class="control-label col-sm-2">
					__
				</div>
				<div class="control-label col-sm-2">
					__
				</div>
			</div>
		{% endfor %}

		<br />
		<div class="form-group row">
			<div class="control-label col-sm-2">
				<label>Symptoms</label>
			</div>
		</div>

		<div class="form-group row">
			<div class="control-label col-sm-3 col-sm-offset-1">
			</div>
			<div class="control-label col-sm-2">
				<label>Symptom</label>
			</div>
			<div class="control-label col-sm-2">
				<label>Duration (month/s)</label>
			</div>
		</div>
		<div class="form-group row">
			<div class="control-label col-sm-3 col-sm-offset-1">
				<label>Main Ocular Symptom, OD</label>
			</div>
			<div class="control-label col-sm-2">
				{{ participant.main_symptom_od.name|default:"__"}}
			</div>
			<div class="control-label col-sm-2">
				{{ participant.main_symptom_od.duration|default:"__"}}
			</div>
		</div>

		<div class="form-group row">
			<div class="control-label col-sm-3 col-sm-offset-1">
				<label>Main Ocular Symptom, OS</label>
			</div>
			<div class="control-label col-sm-2">
				{{ participant.main_symptom_os.name|default:"__"}}
			</div>
			<div class="control-label col-sm-2">
				{{ participant.main_symptom_os.duration|default:"__"}}
			</div>
		</div>

		<div class="form-group row">
			<div class="control-label col-sm-3 col-sm-offset-1">
				<label>Main Ocular Symptom, Patient</label>
			</div>
			<div class="control-label col-sm-2">
				{{ participant.main_symptom_patient.name|default:"__"}}
			</div>
			<div class="control-label col-sm-2">
				{{ participant.main_symptom_patient.duration|default:"__"}}
			</div>
		</div>

		<div class="form-group row">
			<div class="control-label col-sm-3 col-sm-offset-1">
				<label>Non Ocular Symptom</label>
			</div>
		{% for symptom in participant.nonocularsymptom_set.all|slice:":2" %}
			{% if forloop.first %}
			<div class="control-label col-sm-2">
				{{ symptom.name|default:"__" }}
			</div>
			<div class="control-label col-sm-2">
				{{ symptom.duration|default:"__" }}
			</div>
		</div>
			{% else %}
			<div class="form-group row">
				<div class="control-label col-sm-3 col-sm-offset-1">
				</div>
				<div class="control-label col-sm-2">
					{{ symptom.name|default:"__" }}
				</div>
				<div class="control-label col-sm-2">
					{{ symptom.duration|default:"__" }}
				</div>
			</div>
			{% endif %}
		{% empty %}
			<div class="control-label col-sm-2">
				__
			</div>
			<div class="control-label col-sm-2">
				__
			</div>
		</div>
		{% endfor %}
		<br />
		<div class="form-group row">
			<div class="col-sm-3 table-container table-summary table-summary-first">
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th colspan="2">Visual Acuity</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Eye</td>
							<td>Best Vision</td>
						</tr>
						<tr>
							<td>OD</td>
							<td>{{ participant.visual_acuity_od_best_vision|default:"__" }}</td>
						</tr>
						<tr>
							<td>OS</td>
							<td>{{ participant.visual_acuity_os_best_vision|default:"__" }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-4 col-sm-offset-1 table-container table-summary">
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th colspan="4">Automated Refraction</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Sphere</td>
							<td>Cylinder</td>
							<td>Axis</td>
							<td>Pupil Distance</td>
						</tr>
						<tr>
							<td>{{ participant.automated_refraction_od_sphere|default:"__" }}</td>
							<td>{{ participant.automated_refraction_od_cylinder|default:"__" }}</td>
							<td>{{ participant.automated_refraction_od_axis|default:"__" }}</td>
							<td rowspan="2">{{ participant.automated_refraction_pupil_distance|default:"__" }}</td>
						</tr>
						<tr>
							<td>{{ participant.automated_refraction_os_sphere|default:"__" }}</td>
							<td>{{ participant.automated_refraction_os_cylinder|default:"__" }}</td>
							<td>{{ participant.automated_refraction_os_axis|default:"__" }}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-sm-2 col-sm-offset-1 table-container table-summary">
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th>Tonometry</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>IOP (mmHg)</td>
						</tr>
						<tr>
							<td>{{ participant.intraocular_pressure_od|default:"__" }}</td>
						</tr>
						<tr>
							<td>{{ participant.intraocular_pressure_os|default:"__" }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Findings and Diagnosis</h3>
	</div>
	<div class="panel-body">
		<div class="form-group row">
			<div class="control-label col-sm-3 col-sm-offset-1">
				<label>Main Diagnosis, OD</label>
			</div>
			<div class="controls col-sm-2 col-sm-offset-1">
			 	{{ participant.main_diagnosis_od|default:"__" }}
			</div>
		</div>
		<div class="form-group row">
			<div class="control-label col-sm-3 col-sm-offset-1">
				<label>Main Diagnosis, OS</label>
			</div>
			<div class="controls col-sm-2 col-sm-offset-1">
			 	{{ participant.main_diagnosis_os|default:"__" }}
			</div>
		</div>
		<div class="form-group row">
			<div class="control-label col-sm-3 col-sm-offset-1">
				<label>Main Diagnosis, Patient</label>
			</div>
			<div class="controls col-sm-2 col-sm-offset-1">
			 	{{ participant.main_diagnosis_patient|default:"__" }}
			</div>
		</div>
		<div class="form-group row">
			<div class="control-label col-sm-3 col-sm-offset-1">
				<label>Main Cause of Visual Loss</label>
			</div>
			<div class="controls col-sm-2 col-sm-offset-1">
			 	{{ participant.main_cause_visual_loss|default:"__" }}
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Ocular Surgery/Laser/Procedure Objectively Seen During Examination</h3>
	</div>
	<div class="panel-body">
		<div class="form-group row">
			<div class="control-label col-sm-3 col-sm-offset-1">
				<label>Ocular Procedure</label>
			</div>
			<div class="control-label col-sm-2 col-sm-offset-1">
				<label>Eye</label>
			</div>
			<div class="control-label col-sm-2 col-sm-offset-1">
				<label>Surgery Outcome</label>
			</div>
		</div>
		{% for procedure in participant.ocularprocedure_set.all|slice:":3" %}
		<div class="form-group row">
			<div class="control-label col-sm-3 col-sm-offset-1">
				{{ procedure.name|default:"__" }}
			</div>
			<div class="control-label col-sm-2 col-sm-offset-1">
				{{ procedure.eye|default:"__" }}
			</div>
			<div class="control-label col-sm-2 col-sm-offset-1">
				{{ procedure.surgery_outcome|default:"__" }}
			</div>
		</div>
		{% empty %}
		<div class="form-group row">
			<div class="control-label col-sm-3 col-sm-offset-1">
				__
			</div>
			<div class="control-label col-sm-2 col-sm-offset-1">
				__
			</div>
			<div class="control-label col-sm-2 col-sm-offset-1">
				__
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}

{% block extra_script %}
<script>
	var printableURL = "{% url 'summary' %}?sn={% if request.GET.sn %}{{ request.GET.sn }}{% else %}{{ participant.participant_number }}{% endif %}&printable=1";
</script>
<script src="{% static 'survey/js/summary.js' %}"></script>
{% endblock %}